body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 1px;
    margin-left: 100px;
}


.hero nav ul{
    display: block;
    float: right;
    background-color: rgb(7, 7, 48);
    border-radius: 20px;
    padding: 10px;
    list-style: none;
}

.hero nav a{
    text-decoration: none;
    color: white;
    
}

.hero nav h1{
    display:block;
    float: left;
    
    
}



.hero{
    display: block;
    background-position: right;
    background-repeat: no-repeat;
    background-size:contain;
}

.hero-content p{
    display: block;
    
    color: rgb(163, 163, 163);
}

.hero-content a{
    background-color: rgb(216, 9, 147);
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.hero-content{
    clear: both;
    display: block;
    float: left;
    border: 2px solid blue;
    padding: 60px 0;
    
}

main{
    clear: both;
    display: block;
    
    margin: auto;
    
}

.content-section{
    overflow: auto;
    border: 2px solid blue;
}

div{
    display: inline-block;
    margin-block: 5px;
}

    .card-1{
        display: inline-block;
        border: 2px solid blue;
        background-color: pink;
        padding: 1px;
        
        
        
        
    }

    .card-2{
        display: inline-block;
        border: 2px solid blue;
        padding: 20px 0;
        
        
        
    }